body {
  margin: 0;
}
.pageTitle {
  color: white;
  text-decoration: underline;
}
form {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  background-color: aliceblue;
  padding: 50px 50px;
  border-radius: 15px;
}
.addbooks {
  margin-top: 50px;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  height: 100vh;
  width: 100vw;
  background: url("./books.jpg");
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
}
.showBooks div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  column-gap: 20px;
  row-gap: 20px;
  border-radius: 20px;
}
.showBooks div div {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  margin: 0;
  padding: 20px 20px;
}
.showBooks h3,
.showBooks h4,
.showBooks p {
  margin: 0;
  padding: 0;
}
